h1 {
	background-color:  #3333ff;
	text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
}
label {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
}
.card {
	margin: 10px;
}
.colOne {
	background-color: #ffffff;
}
.colTwo {
	background-color: #ffffff;
}
.icons {
	height: 70px;
	width: 70px;
}
.cardTodayDate {
	font-size: 20px;
}